@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none; 
    }
}

/* *{
<<<<<<< HEAD
  background-color: #ffffff;
} */
=======
  /* background-color: #ffffff; */
>>>>>>> 234c5105e9e0954a40d409ed5e84e0514f45caf2
